<link rel="stylesheet" href="styles/approacha.css">

<div class="new_container">

  <div class="header">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a ng-href="#/approach2">One Issue</a></li>
          <li><a ng-href="#/approach22">2% Issues</a></li>
          <li class="active"><a ng-href="#/approach230">30% Issues<span class="sr-only">(current)</span></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a ng-href="#/approach1">Approach 1</a></li>
          <li><a ng-href="#/approach230">Reset</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </div>

  <!-- <div class="header">
    <div class="navbar-default" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse" id="js-navbar-collapse">

          <ul align="rigth" class="nav navbar-nav">
            <li><a ng-href="#/approach2">One Issue</a></li>
            <li><a ng-href="#/approach22">2% Issues</a></li>
            <li><a ng-href="#/approach230">30% Issues</a></li>
          </ul>

          <ul align="rigth" class="nav navbar-nav navbar-right">
            <li><a ng-href="#/approach1">Approach 1</a></li>
            <li><a ng-click="reloadRoute()">Reset</a></li>
          </ul>

        </div>
        <div>
      </div>
    </div>
  </div>
  </div> -->



<div class="row">
  <div class="col-md-6" style="height:100%;">
      <div class="background-cards">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control" options="map.options" bounds="map.bounds" pan="true">
          <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></ui-gmap-layer>
        </ui-gmap-google-map>
      </div>
  </div>

  <div class="col-md-6" style="height:100%;">
      <div class="background-cards">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options_circle">
          <!-- <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></ui-gmap-layer> -->
          <ui-gmap-circle ng-repeat="c in map.circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
        events="c.events" visible="c.visible" geodesic="c.geodesic"
        editable="c.editable" draggable="c.draggable" clickable="c.clickable">
    </ui-gmap-circle>
        </ui-gmap-google-map>
      </div>
  </div>


</div>
</div>
